{{define "searchbox"}}
<div class="container p-3">
<div class="row justify-content-center align-items-center p-3">
    <form action="/search" method="POST" name="checkboxs" class="editform text-center">
        <div class="input-group">
            <input class="form-control bg-dark text-light" id="search" placeholder="Search word.." type="text" maxlength="50" size=50 name="searchword" autofocus="autofocus" value="{{.Searchword}}">
            <div class="input-group-append">
                <button class="btn btn-dark border-light" id="button">Search</button>
            </div>
        </div>
    </form>
</div></div>
{{end}}