@charset "utf-8";

html, body {
    background:#000;
    font-family: Courier, 'Courier New', Courier_New;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-top: 1px solid #222;
}